

#app {
  width: 100%;
  height: 100vh;
}

#popup {
  background: var(--ol-background-color);
  border-color: var(--ol-accent-background-color);
  padding: 1rem;
  border-radius: 0.25rem;
}

#timeSlider {
  position: absolute;
  bottom: 5rem;
  left: 25%;
  background: var(--ol-background-color);
  border-color: var(--ol-accent-background-color);
  width: 30%;
  padding: 1rem;
  border-radius: 0.5rem;
}