
@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('assets/fonts/Nunito/Nunito-VariableFont_wght.ttf');
}


body {
    --dark-dark: #1c1c1d;
    --light-light: #f0f0f9;
    --light-medium: #e8e8ee;
    --primary-medium: #699eaa;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}


div {
    margin: 0;
}

h1,  h2, h3, h4 {
    margin: 0;
}
